{% extends "base.html" %}
{% block page_title %}Create -- Prized Pupil{% endblock %}
{% block body_class %}create{% endblock %}


{% block header_content%}<h2>Create</h2>{% endblock %}

{% block base_content %}
<div class="marquee" id="course">
    <div class="container dropped" draggable="true" id="syllabus">
	<div class="draghandle">
	    <h2>Syllabus</h2>
	</div>
	<div id="cd1" class="object" draggable="true">
	    <span class="title">Course Description</span>
	</div>
	<div id="pq1" class="object dropped" draggable="true">
	    <span class="title">Prereqs</span>
	</div>
	<div id="oc1" class="object dropped" draggable="true">
	    <span class="title">Outcomes</span>
	</div>
	<div id="rm1" class="object dropped" draggable="true">
	    <span class="title">Required Materials</span>
	</div>
	<div id="om1" class="object dropped" draggable="true">
	    <span class="title">Optional Materials</span>
	</div>
	<div id="comm1" class="object dropped" draggable="true">
	    <span class="title">Communications</span>
	</div>
	<div id="sr1" class="object dropped" draggable="true">
	    <span class="title">Student Responsibilities</span>
	</div>
	<div id="gp1" class="object dropped" draggable="true">
	    <span class="title">Grading Policies</span>
	</div>
	<div id="srp1" class="object dropped" draggable="true">
	    <span class="title">Submission & Return Policy</span>
	</div>
	<div id="sched1" class="object dropped" draggable="true">
	    <span class="title">Schedule</span>
	</div>
	<div id="aa1" class="object dropped" draggable="true">
	    <span class="title">Academic Assessment</span>
	</div>
	<div id="ai1" class="object dropped" draggable="true">
	    <span class="title">Academic Integrity</span>
	</div>
	<div id="asup1" class="object dropped" draggable="true">
	    <span class="title">Academic Support</span>
	</div>
	<div id="accom1" class="object dropped" draggable="true">
	    <span class="title">Accomodations for Disabilities</span>
	</div>
    </div> <!--#END CONTAINER-->
    <div class="container dropped" draggable="true" id="unit-one">
	<div class="draghandle">
	    <h2>Unit One</h2>
	</div>
    </div>
    
    <div class="toolbar">
	<div class="object toolbox" draggable="true" id="assignment">+</div>
	<div class="container toolbox" draggable="true" id="toolbar-container">
	    <!--<div class="draghandle"><h2>Container</h2></div>-->
	</div>
    </div>
</div>
{% endblock %}

{% block footer_content %}

{% endblock%}