{% extends "base.html" %}
{% block body_class %}{% endblock %}
{% block page_title %}{% endblock %}
{% block base_content %}
<div class="marquee">
    
</div>
{% endblock %}

{% block footer_content %}
<div class="spotlight">
    <h2>Build Content</h2>
    <p>Bring your content to the web with ease. Design whole courses or single modules.</p>
</div>
<div class="spotlight">
    <h2>Build Content</h2>
    <p>Bring your content to the web with ease. Design whole courses or single modules.</p>
</div>
<div class="spotlight">
    <h2>Build Content</h2>
    <p>Bring your content to the web with ease. Design whole courses or single modules.</p>
</div>
<div class="spotlight">
    <h2>Build Content</h2>
    <p>Bring your content to the web with ease. Design whole courses or single modules.</p>
</div>
{% endblock%}